html, body {
    background-color: #333333;
/*    background-color: turquoise;*/
    height: 100%;
    text-align: center;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* Negative indent footer by it's height */
}

#main-container {
    background-color: #333333;
/*    background-color: lightgreen;*/
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#header {
    margin-bottom: 0%;
    background-color: #333333;
/*    color: #333333; /* CHANGE */
/*    background-color: salmon;*/
    margin: 0%;
    height: 10%;
    width: 100%;
    padding: 0%;
}

.hidden {
    display: none;
    height: 0%;
}

#ps-logo {
    padding-top: 20%;
}

#spin {
    height: 40%;
    clear: both;
    color: white;
}

#prompt {
    color: white;
}

#header-col {
    height:100%;
}

#upper-left-adobe {
    height: 80%;
    width: auto;
    float: left;
    display: none;
}

#upper-right-ps-logo {
    height: 80%;
    width: auto;
    float: right;
    display: none;
}

#img-text-row {
    display: none;
    width: 100%;
    margin: 0%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
}

#img-text-col {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

#real-or-fake {
    background-color: #333333;
    max-height: 100%;
    width: auto;
/*    background-color: yellow;*/
}

#img-row {
    width: 100%;
    height: 80%;
    padding: 0%;
    margin: 0%;
    background-color: #333333;
/*    background-color: blue;*/
}

#img-col {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

#main-img {
    display: none;
    max-height: 100%;
    width: auto;
}

#twenty-five-wrapper {
    max-height: 100%;
    padding-top: 10%;
    display: none;
    height: auto;
    overflow: auto;
    background-color: #333333;
/*    background-color: purple;*/
}

#twenty-five-text {
    color: white;
    text-align: left;
}

#twenty-five-img {
    display: block;
    float: left;
    width: 30%;
    height: auto;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin: 0% 2% 2% 0%;
}

#twenty-five-img img {
    padding: 5px;
}

#begin {
    margin-top: 10%;
    width: 100%;
    max-height: 100%;
    height: auto;
}

#above-footer-row {
    margin: 0;
    height: 10%;
    background-color: #333333;
}

#above-footer-col {
    text-align: center;
    height: 100%;
    width: 100%;
}

#left-for-fake {
    float: left;
    color: white;
    margin-top: 2%;
    max-height: 100%;
    max-width: 20%;
}

#right-for-real {
    float: right;
    color: white;
    margin-top: 2%;
    max-height: 100%;
    max-width: 20%;
}

#brag-about-it, #fb_button, #twitter_button {
    margin-left: 1%;
    margin-right: 1%;
    max-height: 100%;
}

#footer {
    margin: 0%;
    background-color: #333333;
/*    color: #333333; /* CHANGE */
/*    background-color: teal;*/
    height: 10%;
    width: 100%;
}

#footer-col {
    height: 100%;
}

#terms {
    float: left;
    color: white;
    margin-top: 4%;
    display: none;
}

#bottom-right-adobe {
    height: 80%;
    width: auto;
    float: right;
    position: absolute;
    bottom: 0%;
    right: 4%;
    display: none;
}

#final {
    font-size: 96px;
}

.row {
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}

.grid-row {
    padding-bottom: 1%;
    height: 18%;
}

.col-xs-15 {
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#grid {
    display: none;
    opacity: 0;
    height: 55%;
}

.grid-img {
    padding-right: 5px;
    padding-left: 5px;
}

.grid-img img {
    max-height: 100%;
    width: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    background-repeat: none;
}

#grid-text {
    height: 5%;
    color: white;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

#footer .col-xs-15 {
    color: white;
}

@media only screen and (min-width : 768px) {
    #img-row {
        margin: 0% 25% 0% 25%;
        width: 50%;
    }
}

/* all other phones */
@media (orientation: landscape) and (max-width: 767px) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}