html, body {
    background-color: #474747;
/*    background-color: turquoise;*/
    height: 100%;
    text-align: center;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* Negative indent footer by it's height */
}

#main-container {
    background-color: #474747;
/*    background-color: lightgreen;*/
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#header {
    margin-bottom: 0%;
    background-color: #474747;
    color: #474747; /* CHANGE */
/*    background-color: salmon;*/
    margin: 0%;
    height: 0%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.hidden {
    display: none;
}

#prompt-row {
    color: white;
    height: 70%;
}

#img-text-row {
    width: 100%;
    height: 5%;
    margin: 0%;
}

#img-text-col {
    padding: 0%;
    margin: 0%;
}

#real-or-fake {
    padding: 0% 20% 0% 20%;
    background-color: #474747;
    opacity: 0;
/*    background-color: yellow;*/
}

#img-row {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #474747;
/*    background-color: blue;*/
}

#img-col {
    padding: 0%;
    margin: 0%;
}

#main-img {
    display: none;
}

#footer {
    margin: 0%;
    background-color: #474747;
    color: #474747; /* CHANGE */
/*    background-color: magenta;*/
    height: 10%;
    width: 100%;
}

#final {
    font-size: 96px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-xs-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.grid-img {
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 90%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 2px solid red;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}
.cross::after {
    border-bottom: 2px solid red;
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
}

#footer .col-xs-15 {
    color: white;
}

@media(min-width:768px){
    #img-text-row {
        width: 100%;
        padding: 0% 20% 0% 20%;
    }

    #img-row, #grid {
        padding-left: 30%;
        padding-right: 30%;
        width: 100%;
        margin-bottom: 0%;
    }
}

@media (orientation: landscape) and (max-width:768px) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}