html, body {
    background-color: #11162f;
/*    background-color: turquoise;*/
    height: 100%;
    text-align: center;
}

#share_img {
    display: none;
}

/*body {
      background: url(../img/new/Adobe25_Desktop_BabyLilyPad.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}*/

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* Negative indent footer by it's height */
}

#main-container {
/*    background-color: lightgreen;*/
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#header {
    margin-bottom: 0%;
/*    color: #333333; /* CHANGE */
/*    background-color: salmon;*/
    margin: 0%;
    height: 5%;
    width: 100%;
    padding: 0%;
}

.hidden {
    display: none;
    height: 0%;
}

#ps-logo {
    padding-top: 20%;
}

#spin {
    height: 40%;
    clear: both;
    color: white;
}

#header-col {
    height:100%;
    padding: 0px 5px;
}

#upper-left-adobe {
    margin: 1% 0% 1% 0%;
    height: auto;
    width: auto;
    max-height: 60%;
    max-width: 50%;
    float: left;
    display: none;
}

#upper-right-ps-logo {
    margin: 1% 0% 1% 0%;
    height: auto;
    width: auto;
    max-height: 40%;
    max-width: 30%;
    float: right;
    display: none;
}

#img-text-row {
    display: none;
    height: 100%;
    margin: 0%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
/*    background-color: #333333;*/
}

#main-test, #desktop-test {
    color: white;
    font-size: 18px;
    padding-top: 3%;
}

#img-text-col {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

#real-or-fake {
    max-height: 100%;
    width: auto;
/*    background-color: yellow;*/
}

#two-five-real, #two-five-photoshop {
    height: 5%;
    margin-top: 2%;
    background-size: 100%;
    max-width: 80%
}

#two-five-or {
    height: 3%;
    margin-top: 2%;
    max-width: 80%
}

#mobile-real, #mobile-photoshop {
    height: 20%;
    margin-top: 1%;
    background-size: 100%;
    max-width: 80%
}

#mobile-or {
    height: 15%;
    margin-top: 1%;
    max-width: 80%
}

#desktop-real, #desktop-photoshop {
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-size: 100%;
    max-width: 80%
}

#desktop-or {
    height: 6%;
    margin-top: 3%;
    max-width: 80%
}

#img-row {
    width: 100%;
    height: 90%;
    padding: 5% 0% 0% 0%;
    margin: 0%;
/*    background-color: #333333;*/
}

#img-col {
    padding: 0%;
    margin: 0%;
    height: 80%;
}

#two-five-logo {
    padding: 0% 30% 0% 30%;
}

#main-img {
    display: none;
    max-height: 100%;
    width: auto;
}

#below-main-mobile {
    padding-top: 2%;
    height: 15%;
    margin: 0%;
}

#mobile-attribution, #desktop-attribution {
    height: 5%;
    padding-top: 1%;
    color: transparent;
}

#desktop-attribution {
    font-size: 18px;
}

#left-real-mobile, #swipe-mobile, #right-photoshop-mobile {
    max-height: 100%;
    color: white;
    vertical-align: middle;
}

#swipe-mobile {
    padding-top: 1%;
}

#twenty-five-wrapper {
    max-height: 100%;
    display: none;
    height: auto;
    overflow: auto;
/*    background-color: purple;*/
}

#twenty-five-text {
    color: white;
    text-align: center;
    padding: 2% 10% 0% 10%;
}

#twenty-five-img {
    display: block;
    float: left;
    width: 30%;
    height: auto;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin: 0% 2% 2% 0%;
}

#twenty-five-img img {
    padding: 5px;
}

/*#begin {
    margin-top: 10%;
    width: 100%;
    max-height: 100%;
    height: auto;
}*/

/*#real-or-photoshop {
    padding: 2% 30% 0% 30%;
    max-width: 100%;
}*/

#start-button {
    padding: 2% 30% 0% 30%;
    max-width: 80%
}

#above-footer-row {
    margin: 0;
    height: 10%;
}

#above-footer-col {
    text-align: center;
    height: 100%;
    width: 100%;
}

#left-for-fake {
    float: left;
    color: white;
    margin-top: 2%;
    max-height: 100%;
    max-width: 20%;
}

#right-for-real {
    float: right;
    color: white;
    margin-top: 2%;
    max-height: 100%;
    max-width: 20%;
}

#brag-about-it, #fb_button, #twitter_button {
    margin-left: 5%;
    margin-right: 5%;
    max-height: 10%;
    max-width: 30%;
}

#footer {
    margin: 0%;
    background-color: #333333;
/*    color: #333333; /* CHANGE */
    height: 5%;
    width: 100%;
}

#footer-col {
    height: 100%;
}

#terms {
    padding-top: 1%;
    float: left;
    color: white;
    display: none;
}

/*#bottom-right-adobe {
    height: 80%;
    width: auto;
    float: right;
    position: absolute;
    bottom: 0%;
    right: 4%;
    display: none;
}*/

#final {
    font-size: 96px;
}

.row {
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}

.grid-row {
    padding-bottom: 1%;
    height: 18%;
    margin-left: 0px;
    margin-right: 0px;
}

.col-xs-15 {
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#grid {
    display: none;
    opacity: 0;
    height: 55%;
}

.grid-img {
    padding-right: 5px;
    padding-left: 5px;
}

.grid-img img {
    max-height: 100%;
    width: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: none;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

#footer .col-xs-15 {
    color: white;
}

#desktop-right-section {
    display: none;
    height: 100%;
    padding: 0%;
/*    background-color: green;*/
}

#desktop-right-img {
    padding: 0% 15%;
    display: none;
}

@media (orientation: landscape) and (max-width: 767px) {
    body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }
}

@media only screen and (max-height : 500px) {
    #img-row {
        padding-top: 2%;
    }
    #two-five-logo {
        padding: 0% 35% 0% 35%;
    }
    #main-test {
        font-size: 14px;
        padding-top: 1%;
    }
    #footer {
        height: 6%;
    }
}

@media only screen and (max-width : 768px) {
    #start-button {
        padding: 2% 20% 0% 20%;
    }
}

@media only screen and (min-width : 768px) {
    #img-row {
        margin: 0% 15% 0% 15%;
        width: 70%;
    }
}

@media (max-width: 1024px) {
    #grid-text-mobile {
        font-size: 18px;
        display: block;
        height: 5%;
        color: white;
        clear: both;
        margin: 0% 0% 2% 0%;
    }
    #grid-text-desktop {
        display: none;
    }
    #twenty-five-text {
        color: white;
        text-align: center;
        margin-top: 1%;
    }
    #two-five-real {
        margin-top: 2%;
    }

    #two-five-photoshop {
        margin-bottom: 2%;
    }

    #two-five-or {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media only screen and (min-width : 1025px) {
/*    html {
      background: url(../img/new/Adobe25_Desktop_BabyLilyPad.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }*/
    #left-for-fake, #right-for-real {
        max-width: 100%;
    }
    #desktop-right-section {
        display: block;
        text-align: center;
    }
    #desktop-right-img {
        display: block;
    }
    #grid-text-mobile {
        display: none;
    }
    #grid-text-desktop {
        color: white;
        display: block;
        margin: 0% 0%;
        font-size: 24px;
    }
    #brag-about-it, #fb_button, #twitter_button {
        clear: both;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media screen and (min-aspect-ratio: 3/2) {
    #img-row {
        padding-top: 2%;
    }
}